path, polygon {
	stroke-width: .5px !important;
}

path:hover, polygon:hover, circle:hover {
	stroke: #F72A7C !important;
	stroke-width:1px;
	stroke-linejoin: round;
	fill: #F72A7C !important;
	cursor: pointer;
}