:focus {outline:none;}
::-moz-focus-inner {border:0;}

* {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body {
	background-color: #293754;
}

#flying-header {
	display: none;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes move {
  from {
    -moz-transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(20px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@keyframes move {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}


@-webkit-keyframes movemenu {
  from {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes movemenu {
  from {
    -moz-transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@keyframes movemenu {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.run {
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index: 99 !important;
}

.runmenu {
  animation-name: movemenu;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 100%;
  z-index: 99!important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.runmenu-inside {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

/*.run:hover {
  animation-play-state: paused;
}	*/

.cmenu1 {
	cursor: pointer;
	position: absolute;
	background-color: #2ECC71;
	width: 230px;
	height: 70px;
	top: 240px;
	left: 30px;
}

.cmenu1 p {
  cursor: pointer;
	padding: 10px 0 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.cmenu2 {
	cursor: pointer;
	position: absolute;
	background-color: #FFBE02;
	width: 230px;
	height: 70px;
	top: 230px;
	left: 618px;
}

.cmenu2 p {
  cursor: pointer;
	padding: 10px 0 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.cmenu3 {
	cursor: pointer;
	position: absolute;
	background-color: #067BC6;
	width: 210px;
	height: 70px;
	top: 360px;
	left: 670px;
}

.cmenu3 p {
  cursor: pointer;
	padding: 10px 0 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.cmenu4 {
	cursor: pointer;
	position: absolute;
	background-color: #FE6102;
	width: 170px;
	height: 70px;
	top: 500px;
	left: 600px;
}

.cmenu4 p {
  cursor: pointer;
	padding: 10px 0 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.cmenu5 {
	cursor: pointer;
	position: absolute;
	background-color: #8C48AB;
	width: 170px;
	height: 80px;
	top: 480px;
	left: 85px;
}

.cmenu5 p {
  cursor: pointer;
	padding: 10px 0 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.cmenu6 {
	cursor: pointer;
	position: absolute;
	background-color: #F72A7C;
	width: 240px;
	height: 80px;
	top: 355px;
	left: 0px;
}

.cmenu6 p {
  cursor: pointer;
	padding: 10px 20px 0 12px !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 17px !important;
	color: white;
}

.hblock {
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.hblock-open {
	overflow-y: hidden;
	height: 100vh;
}

.hblock-close {
	/* overflow-y: visible; */
  overflow: hidden;
	height: 1000px;
}

.hcontent {
	width: 100%;
	height: 100vh;
}

.hsee {
	overflow: hidden;
}

.himg {
	width: 1600px !important;
	min-width: 1600px !important;
	height: auto;
	margin: 0 0 0 50%;
	position: relative;
}

.b1 {
	width: 610px !important;
	min-width: 610px !important;
	height: auto;
	margin: 0 0 0 50%;
	position: relative;
}

.b2 {
	width: 610px !important;
	min-width: 610px !important;
	height: auto;
	margin: 0 0 0 50%;
	position: relative;
}



.b10 {
	opacity: 0;
}

.b11 {
	opacity: 0;
}

.b12 {
	opacity: 0;
}

.b13 {
	opacity: 0;
}

.b14 {
	opacity: 0;
}

.b15 {
	opacity: 0;
}

.b16 {
	opacity: 0;
}

.chart-container .highcharts-grid {
   display: none !important;
}

tspan{
    text-decoration:none !important;
    text-shadow:none !important;
    stroke: none !important;
}

.emerge { opacity: 0; }
.idno {position: fixed; top: 99999999px; left: 0; right: 0; width: inherit; height: inherit;}
.idyes {position: relative; bottom: auto; left: auto;}

.overflow-hidden {
	overflow: hidden;
}

.theme-padding {
	padding-bottom: 20px !important;
}

.theme-link {
	cursor: default;
}

.theme-link .theme-card {
	border-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	height: 120px;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	z-index: 1;
}

.theme-link .theme-card::before {
  content:"";
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  background:inherit;
  transition:inherit;
}

.theme-link:hover .theme-card::before {
  transform: scale(1.1);
}

.theme-link .cover {
	transition: all 0.4s ease-in-out;
	background: rgba(153,149,180, 0);
	width: 100%;
	height: 100%;
	position: relative;
}

.theme-link:hover .cover {
	background: rgba(153,149,180, .8);
}

.theme-link .cover .content {
	height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	display: table;
}

.theme-link .cover .content .title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.theme-link .cover .chapter {
	opacity:0;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 16px;
	margin: 0px 0 20px 0;
	padding: 0 30px 0 20px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	text-align: left;

}

.theme-link:hover .cover .chapter {
	opacity:1;
	transform: translateY(10px);
	-webkit-transform: translateY(10px);

}

.theme-link .theme-name {
	font-family: 'Montserrat';
	font-size: 15px;
	line-height: 18px;
	margin: 5px 0 10px 0;
	font-weight: 900;
	color: #000;
	text-decoration: none;
	text-align: left;
}

.theme-link .theme-name:hover {
	color: #141B2D;
}

.moscow-img .theme-card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	height: 180px;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	z-index: 1;
}

.moscow-img .theme-card::before {
  content:"";
  position:absolute; top:0;right:0;bottom:0;left:0;
  background:inherit;
  transition:inherit;
}

.moscow-img:hover .theme-card::before {
  transform: scale(1.05);
}

.moscow-img .cover {
	transition: all 0.4s ease-in-out;
	background: rgba(38,61,102, 0);
	width: 100%;
	height: 100%;
	position: relative;
}

.moscow-img:hover .cover {
}

.moscow-img .cover .content {
	height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	display: table;
}

.moscow-img .cover .content .title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.moscow-img .cover .chapter {
	opacity:0;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}

.moscow-img:hover .cover .chapter {
	opacity:1;
	transform: translateY(10px);
	-webkit-transform: translateY(10px);
}

.mainheader {
	background-image: url('../img/bg1.png');
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: 30% 30% !important;
	height: 100vh;
}

.mainheader .mainheader-firstline {
	min-height: 70px;
}

.mainheader .white-date {
	margin: 0;
	background-color: #ffffff;
	font-family: 'Montserrat';
	font-size: 11px;
	line-height: 15px;
	font-weight: 900;
	color: #141B2D;
	text-align: center;
	text-transform: uppercase;
	display: table;
	height: 70px;
}

.mainheader .white-date div {
	display: table-cell;
    vertical-align: middle;
}

.mainheader .mainmenu {
	display: table;
	height: 70px;
}

.mainheader .mainmenu div {
	display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;
}

.mainheader .mainmenu a {
	display: block !important;
	float: left;
	padding: 2px 0px 2px 0px !important;
	margin: 0 12px 0 12px !important;
	font-family: 'Montserrat';
	font-size: 11px;
	line-height: 11px;
	font-weight: 900;
	color: #ffffff;
	text-align: left;
	text-transform: uppercase;
	transition: all .1s ease-in-out;
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
}

.mainheader .mainmenu a:hover {
	color: #141B2D;
	border-bottom: 2px solid #141B2D;
	border-top: 2px solid transparent;
}
.mainheader .language {
	display: table;
	height: 70px;
	padding: 0;
}

.mainheader .language div {
	display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 0px;
    text-align: right
}

.mainheader .language div span {
	display: block !important;
	float: right;
	padding: 5px 5px 5px 5px !important;
	margin: 0 !important;
	font-family: 'Montserrat';
	font-size: 11px;
	line-height: 11px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}

.mainheader .language div a {
	display: block !important;
	background-color: white;
	float: right;
	padding: 5px 5px 5px 5px !important;
	margin: 0 !important;
	font-family: 'Montserrat';
	font-size: 11px;
	line-height: 11px;
	font-weight: 900;
	color: #141B2D;
	text-transform: uppercase;
	transition: all .1s ease-in-out;
}

.mainheader .language a:hover {
	background-color: #141B2D;
	color: white
}

.social-block {
	position: relative;
}

.social-block .more-name {
	vertical-align: top;
	opacity: .5;
	letter-spacing: 2px;
	position: absolute;
	right: -30px;
	top: 120px;
	width: 150px;
	height: 11px;
	/* FF3.5+ */
	-moz-transform: rotate(-90.0deg);
	/* Opera 10.5 */
	-o-transform: rotate(-90.0deg);
	/* Saf3.1+, Chrome */
	-webkit-transform: rotate(-90.0deg);
	/* IE6,IE7 */
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	/* Standard */
	transform: rotate(-90.0deg);
}

.social-block .more-name .more-name-content {
font-family: 'Montserrat';
	font-size: 11px;
	line-height: 11px;
	font-weight: 900;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
}


.social-block .more-name.social-btns-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.social-block .social-btns {
	vertical-align: bottom;
	position: absolute;
	right: 35px;
	bottom: 100px;
	width: auto;
}

.social-block .social-btns .social-btns-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.tagline {
	border: 1px solid #ffffff;
	border-radius: 0 5px 5px 5px;
	min-height: 480px;
	margin-bottom: 50px;
}

.tagline .logotype {
	width: 100%;
	max-width: 230px;
	margin: 50px 0 50px 0;
}

.tagline .tagline-text {
	margin: 100px 0 50px 0;
}

.tagline .tagline-text .tagline-text-p {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 35px;
	line-height: 43px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0;
}

.tagline .tagline-text .tagline-button a {
	color: #141B2D;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 15px;
	font-weight: 700;
	display: inline-block;
	padding: 15px 50px 15px 50px;
	margin: 35px 0 0 0;
	background-color: #FFF;
	transition: all .2s ease-in-out;
}

.tagline .tagline-text .tagline-button a:hover {
	color: #141B2D;
	background-color: #EAEDF1;
}

.tagline .tagline-mainnumbers {
	margin: 50px 0 0 0;
}

.tagline .tagline-numbers {
	margin: 0 0 29px 0;
}

.tagline .tagline-numbers .tagline-num-text {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.tagline .tagline-numbers .tagline-num {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0 0 6px 0;
	padding: 0;
}

.scem-topics {
	padding-top: 30px;
}

.topics-margin {
	padding-left: 0;
	padding-right: 0;
}

.reasons {
	background: white url('../img/bg1.png') repeat-x center bottom;
	display: block;
}

.reasons-margin {
	padding-left: 0;
	padding-right: 0;
}

.reasons .reasons-title {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #65618D;
	margin: 80px 0 50px 0;
	padding: 0;
	text-align: center;
}

.reasons .reasons-block {
	margin-bottom: 100px;
}

.reasons .reasons-block img {
	height: 50px;
}

.reasons .reasons-block .reasons-block-title {
	font-family: Montserrat;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
	color: #9995B4;
	margin: 15px 0 10px 0;
	padding: 0;
	text-align: center;
}

.reasons .reasons-block .reasons-block-text {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #141B2D;
	margin: 10px 0 10px 0;
	padding: 0 50px 0 50px;
	text-align: center;
}

.about-moscow {
	background: white url('../img/bg4.png') repeat-x center top;
	padding-bottom: 70px;
}

.about-moscow-margin {
	padding-left: 0;
	padding-right: 0;
}

.about-moscow-title {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #65618D;
	margin: 80px 0 50px 0;
	padding: 0;
	text-align: left;
}

.about-moscow-text {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #141B2D;
	margin: 0px 0 25px 0;
	padding: 0 25px 0 0 ;
	text-align: left;
}

.about-moscow-text img {
	width: 100%;
}

.about-moscow-mainnumbers {
	margin: 0px 0 0 0;
	cursor: default;
}

.about-moscow-numbers {
	margin: 0 0 29px 0;
}

.about-moscow-numbers:hover .about-moscow-num {
	color: #ED3711;
}

.about-moscow-numbers .about-moscow-num-text {
	font-family: Montserrat;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	color: #141B2D;
	margin: 0;
	padding: 0 40px 0 0;
}

.about-moscow-numbers .about-moscow-num {
	font-family: Montserrat;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #9995B4;
	margin: 0 0 6px 0;
	padding: 0;
	transition: all .3s ease-in-out;
}

.why-vdnh {

}

.why-vdnh .why-vdnh-topbg {
	/*background: white url('../img/bg1.png') repeat-x bottom left;*/
}

.why-vdnh .why-vdnh-title {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #65618D;
	padding: 0;
	margin: 45px 0 0 0;
	text-align: left;
}

.why-vdnh .why-vdnh-padding {
	padding-left: 0;
	padding-right: 0;
}

.why-vdnh .why-vdnh-text {
	background: white url('../img/bg2.png') repeat-x top left;
	border: 0 !important;
	padding-right: 1px;
	margin-right: -1px !important;
}

.why-vdnh-text-block {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #FFF;
	margin: 45px 70px 40px 25px !important;
	text-align: left;
}

.vdnh-img .theme-card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	height: 350px;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	z-index: 1;
}

.vdnh-img .cover {
	transition: all 0.4s ease-in-out;
	background: rgba(38,61,102, 0);
	width: 100%;
	height: 100%;
	position: relative;
}

.vdnh-img:hover .cover {
}

.vdnh-img .cover .content {
	height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	display: table;
}

.vdnh-img .cover .content .title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.vdnh-img .cover .chapter {
	opacity:0;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
	height: 350px;
}

.howto {
	background: #0F1227 url('../img/bg3.jpg') no-repeat top left;
	padding-bottom: 120px;
}

.howto-padding {
	padding-left: 0;
	padding-right: 0;
}

.howto-title {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff;
	margin: 80px 0 0px 0;
	padding: 0;
	text-align: left;
}

.howto-title p {
	font-family: Montserrat;
	text-transform: none !important;
	letter-spacing: 0px !important;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff;
	margin: 10px 0 50px 0;
	padding: 0;
	text-align: left;
}

.howto-text {
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 80px 0 80px 30px;
}

.howto-text:nth-child(3)
 {
	border-right: none !important;
}

.howto-text:nth-child(2) {
	border-right: none !important;
}

.howto-text-name {
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #fff;
	margin: 25px 0 10px 0;
	padding: 0;
	text-align: left;
}

.howto-text-button a,
.howto-text-button
 {
	color: #FFF;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 15px;
	font-weight: 700;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	margin: 15px 0 0 0;
	border: 1px solid #FFF;
	transition: all .2s ease-in-out;
	opacity: .5;
}

.howto-text-button a:hover {
	color: #141B2D;
	background-color: #F0D2D9;
	border: 1px solid #F0D2D9;
}

.partners {
	padding-bottom: 120px;
}

.co-padding0 {
	padding: 40px 0 0 0;
}

.co-padding1 {
	padding: 80px 0 0 0;
}

.comodal .cosmall {
	font-size: 13px !important;
	line-height: 16px !important;
	padding: 5px 10px 0 0 !important;
	color: #222 !important;
}

.cowork {
	margin-bottom: 150px;
}

.cowork h3 {
	font-family: 'Montserrat';
	font-size: 24px;
	color: white;
	font-weight: 300;
	text-transform: uppercase;
}

.cowork p {
	color: white;
	font-size: 14px;
	line-height: 19px;
	padding: 15px 40px 0 0;
}

.cowork .cosmall {
	font-size: 12px !important;
	line-height: 16px !important;
	padding: 5px 20px 0 0 !important;
}

.cowork .cosmall2 {
	font-size: 12px !important;
	line-height: 16px !important;
	padding: 0px 20px 0 0 !important;
	margin-bottom: 3px !important;
}

.cowork .cosmaller {
	font-size: 11px !important;
	line-height: 14px !important;
	padding: 5px 20px 0 0 !important;
}

.cowork p.cobold,
.cobold {
	color: white;
	font-size: 14px;
	line-height: 19px;
	font-weight: 700 !important;
	padding: 15px 40px 0 0;
}

.cowork p.cotext {
	color: white;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400 !important;
	padding: 0px 5px 0 0;
}

.modal-panel,
.modal-panel.modal {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.blocker {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.cowork p.cospecial,
.cospecial,
.modal-panel p.cospecial {
	color: white;
	font-size: 12px;
	line-height: 16px;
	padding: 15px 40px 0 0;
	opacity: .6 !important;
}

.modal-panel p {
  color: #fff;
}

.cowork .cotop1 {
	color: #2ECC71;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700 !important;
	padding: 0px 8px 0 0;
}

.cowork .cotop2 {
	color: #FFBE02;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700 !important;
	padding: 0px 8px 0 0;
}

.cowork .cotop3 {
	color: #FE6102;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700 !important;
	padding: 0px 8px 0 0;
}



.cowork-header {
	margin-bottom: 150px;
}

.cowork-header h1 {
	font-family: 'Montserrat';
	font-size: 18px;
	line-height: 24px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.cowork-header p {
	color: white;
	opacity: .8;
	font-size: 13px;
	line-height: 16px;
	padding: 10px 40px 0 0;
}

.cowork-header p a {
	color: white !important;
	opacity: 1 !important;
}

.cowork-header p a:hover {
	color: white !important;
	opacity: .7 !important;
}

.social-block {
	position: relative;
}

.social-block .more-name {
	vertical-align: top;
	opacity: .5;
	letter-spacing: 2px;
	position: absolute;
	right: -30px;
	top: 120px;
	width: 150px;
	height: 11px;
	/* FF3.5+ */
	-moz-transform: rotate(-90.0deg);
	/* Opera 10.5 */
	-o-transform: rotate(-90.0deg);
	/* Saf3.1+, Chrome */
	-webkit-transform: rotate(-90.0deg);
	/* IE6,IE7 */
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	/* Standard */
	transform: rotate(-90.0deg);
}

.social-block .more-name .more-name-content {
font-family: 'Montserrat';
	font-size: 11px;
	line-height: 11px;
	font-weight: 900;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
}


.social-block .more-name.social-btns-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.social-block .social-btns {
	vertical-align: bottom;
	position: absolute;
	right: 35px;
	bottom: 100px;
	width: auto;
}

.social-block .social-btns .social-btns-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.conumbers div span {
	font-family: 'Montserrat';
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	color: #2ECC71;
}

.conumbers div {
	color: #ffffff;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 30px;
}

.conum {
	font-family: 'Montserrat';
	font-size: 20px !important;
	line-height: 24px !important;
	font-weight: 300;
	color: #fff;
	margin-bottom: 10px;
}

.codivider {
	height: 1px; background-color: white; margin: 60px 0 60px 0; opacity: .2;
}

.smalldivider {
	height: 1px; background-color: white; margin: 0px 0 0px 0; opacity: .2;
}

.yellow {
	color: #FFBE02 !important;
	font-weight: 700 !important;
}

.coformat {
	margin: 0 0 0px 0;
}

.coformat div {
	display: inline-block;
	padding: 5px !important;
	background-color: #535F76;
	color: #fff;
	font-size: 14px !important;
	line-height: 14px !important;
	font-weight: 400 !important;
	margin-bottom: 4px;
	cursor: pointer;
}

.coformat-active {
	background-color: white !important;
	color: #222 !important;
}

.btn:hover span {
	color: #fff !important;
}

.cocircle1 {
  border-radius: 50%;
  font-size: 13px !important;
  font-weight: 700 !important;
  color: #fff;
  text-align: center;
  background: #2ECC71;
  padding: 0 !important;
  margin: 15px auto 0 !important;
}

.portr1 {
	vertical-align: top;
	opacity: .5;
	letter-spacing: 4px;
	font-weight: 700;
	font-size: 14px !important;
	position: absolute;
	right: -40px;
	top: 105px;
	width: 150px;
	height: 15px;
	-moz-transform: rotate(-90.0deg);
	-o-transform: rotate(-90.0deg);
	-webkit-transform: rotate(-90.0deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	transform: rotate(-90.0deg);

}

.portr2 {
	vertical-align: top;
	opacity: .5;
	letter-spacing: 4px;
	font-weight: 700;
	font-size: 14px !important;
	position: absolute;
	right: -40px;
	top: 185px;
	width: 150px;
	height: 15px;
	-moz-transform: rotate(-90.0deg);
	-o-transform: rotate(-90.0deg);
	-webkit-transform: rotate(-90.0deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	transform: rotate(-90.0deg);

}

@media (max-width: 40em) {
  .portr2::after {
    content: " ";
    position: absolute;
    top: .45em;
    left: 19em;
    width: 1rem;
    height: 100%;
    background: url('../img/more-arrow.svg') no-repeat center center;
  }
}



.greennum {
	font-family: 'Montserrat';
	font-size: 24px !important;
	line-height: 29px !important;
	font-weight: 700;
	color: #2ECC71 !important;
}

.hide-large {
	display: none;
}

.icon {
  text-align: center;
}

.icon-size {
  width: 50%;
  text-align: center;
}

.button, .button:focus {
  font-weight: 600;
  padding: 10px;
  color: #fff;
  background-color: #2ECC71;
}

.button:hover {
  background-color: #8C48AB;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height .5s ease-in 50ms, opacity 150ms ease-out;
}

.hidden.open {
  opacity: 1;
  max-height: 2000px;
  transition: max-height 1s ease-in 100ms, opacity 250ms linear;
}

.p-btn {
  cursor: pointer;
  transition: .2s ease-in;
  text-decoration: underline;
}

@media (min-width: 64em) {
  .p-btn:hover {
    color: #2ECC71 !important;
    transform: scale(1.15);
  }
}

.hov:hover .toggle {
  background: rgba(46, 204, 113, 0.1) !important;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.hov:hover .p-btn {
  color: #2ECC71 !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.animated-modal .modal-panel,
.modal-panel.modal {
  /* top: 50px !important; */
  background:  #293754 !important;
  width: 89vw !important;
  max-width: 89vw !important;
}

.modal-panel.modal {
  padding: 2vw 3vw !important;
  color: #fff !important;
  z-index: 999999999999999999 !important;
  top: 10vw;
}

@media (min-width: 64em) {
  .modal-panel.modal {
    padding: 2vw 3vw !important;
    color: #fff !important;
    z-index: 999999999999999999 !important;
    top: 5vh;
  }
}

.modal-panel div p {
  font-size: 12px !important;
  margin-bottom: 5px !important;
  line-height: 1.4 !important;
}

.modal-panel .conumbers div {
  margin: 0;
  padding-right: 2px;
  font-size: 12px !important;
}

.modal-panel .conumbers span {
  display: inline-block;
  line-height: 1.2;
  margin: 10px 0;
  padding-right: 5px;
}

.modal-panel p.cospecial {
  font-size: 10px !important;
}

.modal-panel .mobtry2 div p  {
  padding-right: 5px;
}

.modal-panel .cotext {
  margin-top: 0 !important;
}

.modal-panel-h {
  font-family: 'Montserrat' !important;
  font-size: 24px !important;
  color: white !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
}

.modal-panel p,
.modal-panel span,
.modal-panel div {
  font-size: 14px !important;
  line-height: 1.1;
  padding-right: 0;
}

.modal-panel p.cobold {
  padding-top: 0 !important;
}

.modal-panel img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.marked-h {
  font-weight: bold;
  font-size: 1.2em !important;
}

.marked {
  color: orange !important;
  font-size: 2.5rem !important;
}

.little {
  font-size: .6em !important;
}

.pics-container {
  overflow: hidden;
  height: 280px;
  position: relative;
  /* background-blend-mode: difference; */
}

.pic-1 {
  background: linear-gradient(165deg, rgba(41, 55, 84, .97) 5%, rgba(41, 55, 84, .7) 40%, rgba(41, 55, 84, .5) 50%, transparent),
  url('../img/1.jpg') no-repeat left top;
  background-size: cover;
}

.pic-2 {
  background: linear-gradient(165deg, rgba(41, 55, 84, .97) 5%, rgba(41, 55, 84, .7) 40%, rgba(41, 55, 84, .5) 50%, transparent),
  url('../img/2.jpg') no-repeat left top;
  background-size: cover;
}

.pic-3 {
  background: linear-gradient(165deg, rgba(41, 55, 84, .97) 5%, rgba(41, 55, 84, .7) 40%, rgba(41, 55, 84, .5) 50%, transparent),
  url('../img/3.jpg') no-repeat left top;
  background-size: cover;
}

.pic-4 {
  background: linear-gradient(165deg, rgba(41, 55, 84, .97) 5%, rgba(41, 55, 84, .7) 40%, rgba(41, 55, 84, .5) 50%, transparent),
  url('../img/5.jpg') no-repeat left top;
  background-size: cover;
}

img {
  object-fit: cover;
}

.pics {
  object-fit: cover;
}

.pics-container>.pics-p {
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  background-color: rgba(100, 100, 100, 0);
  transition: padding-top .45s linear, background-color .5s linear .05s, opacity .5s linear .05s;
}

/* .pics-container:hover>.pics-p {
  opacity: 1;
  padding-top: 45px;
  padding-left: 21px;
  background-color: rgba(80, 80, 80, .8);
  border-left: 4px solid rgb(127, 127, 127);
  z-index: 10;
} */

.pics-p>p {
  padding-right: 250px;
}

.pics-outer {
  position: relative;
}

.pics-circle {
  background-color: red;
  position: absolute;
  top: 30%;
  left: 36.5%;
  border-radius: 50%;
  background-color: rgba(80, 80, 80, .15);
}

.color-block {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(80, 80, 80, .5); */
}

.color-block>p {
  padding-left: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: .025em;
  text-shadow: 0px 1px 5px #000;
}

.tech {
  color: rgb(255, 190, 2) !important;
}

.tech-p {
  text-align: center;
  margin-left: 100px;
  padding-top: 5px !important;
}

.right-align {
  text-align: right;
}

#chart-vibot-kovorkinga {
  height: 350px;
}

.table-ib {
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;;
  font-size: 14px;
  font-weight: initial;
}

.nobold,
.conumbers div span.nobold {
  font-size: 12px;
  line-height: 15px;;
  font-weight: normal;
  display: block;
  line-height: 19px;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.estimate {
  padding: 0 60px;
  border-left: 1px solid #2ECC71;
}

.estimate-bottom {
  margin-bottom: 75px;
}

.height {
  height: 125px;
}

.larger {
  font-size: 16px !important;
  letter-spacing: .25px;
  font-weight: bold;
}

.toggle {
  cursor: pointer;
  transition: all 250ms;
}

.toggle:hover {
  background-color: rgba(153, 149, 138, 0.1);
}

/* .toggle:hover img {
  fill: #494949;
  color: #494949;
  background-color: #494949;
} */

ul li {
  list-style-type: circle;
}

.ita {
  font-style: italic;
  padding-left: 105px;
}

@media (max-width: 64em) {
  .ita {
    font-style: italic;
    padding-left: 0;
  }
}

.ita-no-pd {
  padding-left: 0;
}

.no-ita {
  font-style: normal;
}

.modal-panel .conumbers div {
  padding-right: 11px;
  word-wrap: break-word;
}

@media (max-width: 40em) {
  .vert p {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-right: 0 !important;
  }

  .no-mrg div div {
    margin-bottom: 12px;
  }
}

.vert p {
  margin-top: 8px;
  margin-bottom: 10px;
}

.m-bott {
  margin-bottom: -10px;
}

@media (max-width: 1023px) {
  .m-bott {
    margin-bottom: -1px;
  }
}

@media (max-width: 40em) {
  .m-bott {
    margin-bottom: 1px;
  }
}

.tap {
  background: url('../img/tap.svg') no-repeat 95% center;
  background-size: 2em;
  min-height: 2em;
}

.locked {
  overflow: hidden;
  /* pointer-events: none; */
}
