#chart-formaty-rabochih-mest {
	min-width: 310px; height: 400px; padding: 35px 0 100px 0px; margin: 0 auto;
}

#chart-smena-rabochego-mesta {
	min-width: 310px; width: 100%; max-width: 800px; height: 400px; margin: 0 auto;
}